{% extends "covid19/base.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in registration_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                     {% for error in field.errors %}
                        <p style="color:red;">{{ error }}</p>
                     {% endfor %}
                </p>
            {% endfor %}
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock content %}